$breakpoint: (
  mobile: 0,
  mobile-sm: 400px,
  tablet: 768px,
  desktop-sm: 1024px,
  desktop-lg: 1280px,
  desktop-xl: 1360px,
  desktop-xxl: 1500px,
) !default;

@mixin between-breakpoints($pointA, $pointB) {
  @media only screen and (min-width: map-get($breakpoint, $pointA)) and (max-width: map-get($breakpoint, $pointB) - 1) {
    @content;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile-sm {
    @media only screen and (min-width: map-get($breakpoint, mobile-sm)) {
      @content;
    }
  }

  @if $point == tablet {
    @media only screen and (min-width: map-get($breakpoint, tablet)) {
      @content;
    }
  }

  @if $point == desktop-sm {
    @media only screen and (min-width: map-get($breakpoint, desktop-sm)) {
      @content;
    }
  }

  @if $point == desktop-lg {
    @media only screen and (min-width: map-get($breakpoint, desktop-lg)) {
      @content;
    }
  }

  @if $point == desktop-xl {
    @media only screen and (min-width: map-get($breakpoint, desktop-xl)) {
      @content;
    }
  }

  @if $point == desktop-xxl {
    @media only screen and (min-width: map-get($breakpoint, desktop-xxl)) {
      @content;
    }
  }
}
